.resume {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.resume.visible {
  opacity: 1;
  transform: translateY(0);
}

.small-title {
  padding-bottom: 3rem;
}
.u-small-title-margin {
  margin-top: 4rem;
}

.resume-content {
  border-left: 2px solid var(--border-color);
}
